@use"./../../../assets/styles/var.scss";

#container{
    height: 600px;
    width: 95vw;
    background-color: #fceab8;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
}

#datos{
    height: 600px;
    width: 90vw;
    background-color:#85c2f3 ;
    display: grid;
    

.area:first-child{
flex-grow: 1;
background-color: #b09cb0;
background-image: linear-gradient(45deg, #c3c5c4 25%, transparent);
background: linear-gradient(-45deg, #c3c5c5 25%, transparent 25%, transparent);
background-size: 20px 20px;
}
.area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 60%;
    padding-right: 20px;
    background-color: #a26d8d;
    background-image: linear-gradient(45deg, #c4e8f8 25%, transparent);
    background: linear-gradient(-45deg, #c3c5c5 25%, transparent 25%, transparent);
    background-size: 20px 20px;
    font-size: large;
    p{
        margin: 10px 10px;
    }
}

.area:last-child{
    background: repeating-linear-gradient(
        0deg,
        #cce486,
        #cce486 2px,
        #bfd678 2px,
        #bfd678 4px,
    );

    p{
        margin: 20px 10px;
    }


}
    }
    

 #descripcionContainer{
background-color: #e9e8cf;
display: grid;
grid-template-columns: 20px 1fr 20px;
border-radius: 10px;
height: 70%;

div{
    background-color: #daeac4;
    height: 90%;
    margin: 5px;
    margin-top: 10px;

    &:first-child{
        border-radius: 0 8px 8px 0;
    }
    &:last-child{
        border-radius: 8px 0 0 8px;
    }
}


    }
.etiqueta{
    display: inline-block;
    background-color: #67bcea;
    border-radius: 5px;
    color: var.$texto-blanco;
    padding: 5px 20px;
    font-size: x-large;
    width:100px;
    text-align: center;
    margin-right: 20px;
}

.tipo{
    background-color: gray;
    border-radius: 5px;
    color: var.$texto-blanco;
    padding: 5px 20px;
    margin-left: 5px;
}

button{
    background-color: #fceab8;
    border-radius: 0 25px 25px 0 ;
    border: unset;
    cursor: pointer;
    img{
        height: 50px;
        transition:0.5s ;
        transition-timing-function: ease-in-out;
        &.girar{
            rotate: 180deg;
        }
        &:hover{
            scale: 1.1;
        }
    }
}

#backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rbga(0,0,0,0.378);
    z-index: 1;
    &.escondido{
        pointer-events:none ;
        opacity: 0;
    }
}